@charset "UTF-8";

    .home{
        width: 100%;
        margin: 1rem;
        font-size: 3rem ;
        font-family: fantasy;
        margin-left: 10rem;
        font-family: 'Abril Fatface', cursive;
    }

    article {
        width: 100%;
    }

    .sns-list{
        display: flex;
        width: 20%;
        font-size: 2rem;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    li {
        list-style: none;
        margin-left: 1rem;
    }

    .main-image {
        width: 100%;
        margin-bottom: 3rem;
    }

    .sub-title {
        display: flex;
        justify-content: space-between;
    }

    .main-title {
        text-align: center;
        margin-bottom: 3rem;
        font-family: fantasy;
        font-size: 2rem;
        font-family: 'Abril Fatface', cursive;
    }
    
    .selfpicture{
        border-radius: 50%;
        width: 180px;
        height: 180px; 
        zoom: 150%;
        margin-left: 5rem;
        margin-bottom: 2rem;
    }

    .main-body {
        display: flex;
    }

    p { 
        vertical-align: middle;
        margin-left: 10rem;
        margin-right: 15rem;
        margin-top: 1rem;
        line-height: 30px;
    }

    footer {
        background: rgb(14, 8, 2);
        text-align: center;
        padding: 26px;
    }

    footer p {
        color: #fff;
        font-size: 1rem;
    }

/*タブレット表示*/
@media (max-width: 768px) {
    div{
        flex-direction: column;
    }

    .home{
        text-align: center;
        margin-top: 2rem;
        font-family: 'Abril Fatface', cursive;
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .sns-list {
        display: flex;
        width: 200px;
        font-size: 2rem;
        margin-top: 2rem;
        margin-left : auto;
    }
    
    li {
        list-style: none;
        margin-left: 1rem;
    }

    .main-image {
        width: 100%;
        margin-bottom: 3rem;
    }

    .sub-title {
        display: flex;
        justify-content: space-between;
    }

    .main-title {
        text-align: center;
        margin-bottom: 3rem;
        font-family: fantasy;
        font-size: 2rem;
        font-family: 'Abril Fatface', cursive;
    }
    
    .selfpicture {
        border-radius: 50%;
        width: 180px;
        height: 180px; 
        zoom: 150%;
        margin-left: 5rem;
        margin-bottom: 2rem;
        margin-left : auto;
        margin-right : auto;

    }

    .main-body {
        display: flex;
    }

    p { 
        vertical-align: middle;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 1rem;
        line-height: 30px;
        padding-bottom: 30px;
    }

    footer {
        background: rgb(14, 8, 2);
        text-align: center;
        margin-top: 10px;
        padding: 10px;

        
    }

    footer p {
        color: #fff;
        font-size: 1rem;
    }
}

/*スマホ表示*/
@media (max-width: 480px){
    div{
        flex-direction: column;
    }

    .home{
        text-align: center;
        margin-top: 2rem;
        font-family: 'Abril Fatface', cursive;
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .sns-list {
        display: flex;
        width: 200px;
        font-size: 2rem;
        margin-top: 2rem;
        margin-left : auto;
    }
    
    li {
        list-style: none;
        margin-left: 1rem;
    }

    .main-image {
        margin-bottom: 3rem;
    }

    .sub-title {
        display: flex;
        justify-content: space-between;
    }

    .main-title {
        text-align: center;
        margin-bottom: 3rem;
        font-family: fantasy;
        font-size: 2rem;
        font-family: 'Abril Fatface', cursive;
    }
    
    .selfpicture{
        border-radius: 50%;
        width: 180px;
        height: 180px; 
        zoom: 150%;
        margin-left : auto;
        margin-right : auto;
    }

    .main-body {
        display: flex;
    }

    p { 
        line-height: 30px;
        padding-bottom: 30px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer {
        background: rgb(14, 8, 2);
        text-align: center;
        margin-top: 10px;
        padding: 10px;
    }

    footer p {
        color: #fff;
        font-size: 1rem;
    }
}